@model MainNavigationViewModel

<nav>
    <ul>
        @foreach (var navItem in Model.NavItems)
        {
            <li>
                <a href="@navItem.Url">@navItem.LinkText</a>
            </li>
        }
    </ul>
</nav>