<?xml version="1.0" encoding="utf-8"?>
<DataType Key="de85ea1f-810b-495c-a4d2-c7758e645cd4" Alias="Block List - Sections" Level="1">
  <Info>
    <Name>Block List - Sections</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Blocks": [
    {
      "backgroundColor": null,
      "iconColor": null,
      "thumbnail": null,
      "contentElementTypeKey": "a640bd05-1808-4707-9a5e-05acd1414997",
      "settingsElementTypeKey": "a52b6531-961e-478f-8902-b16ba65607f6",
      "view": null,
      "stylesheet": null,
      "label": "Basic Section - {{ heading }}",
      "editorSize": "large",
      "forceHideContentEditorInOverlay": false
    }
  ],
  "ValidationLimit": {
    "min": null,
    "max": null
  },
  "UseLiveEditing": false,
  "UseInlineEditingAsDefault": false,
  "MaxPropertyWidth": null
}]]></Config>
</DataType>