<?xml version="1.0" encoding="utf-8"?>
<DataType Key="b7d9eb34-ac4a-42d2-b711-cb8f88c6e711" Alias="Block List - Gallery Images" Level="1">
  <Info>
    <Name>Block List - Gallery Images</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Blocks": [
    {
      "backgroundColor": null,
      "iconColor": null,
      "thumbnail": null,
      "contentElementTypeKey": "04de566e-6c08-4f7a-8783-4bfaeb9c9207",
      "settingsElementTypeKey": "3c3b9d69-92bf-4fdd-9243-357efccb84e5",
      "view": null,
      "stylesheet": null,
      "label": "Image - {{title}}",
      "editorSize": "large",
      "forceHideContentEditorInOverlay": false
    }
  ],
  "ValidationLimit": {
    "min": null,
    "max": null
  },
  "UseLiveEditing": false,
  "UseInlineEditingAsDefault": false,
  "MaxPropertyWidth": null
}]]></Config>
</DataType>