<?xml version="1.0" encoding="utf-8"?>
<DataType Key="c849c658-f24e-45a8-b5e5-d37caebfcd71" Alias="Block List - Media" Level="1">
  <Info>
    <Name>Block List - Media</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Blocks": [
    {
      "backgroundColor": null,
      "iconColor": null,
      "thumbnail": null,
      "contentElementTypeKey": "45ec5ce3-17b5-4588-b6b2-a1095b871bbe",
      "settingsElementTypeKey": "c92d54e3-b28a-430f-b800-ab0325a3441f",
      "view": null,
      "stylesheet": null,
      "label": null,
      "editorSize": "large",
      "forceHideContentEditorInOverlay": false
    }
  ],
  "ValidationLimit": {
    "min": null,
    "max": 1
  },
  "UseLiveEditing": false,
  "UseInlineEditingAsDefault": false,
  "MaxPropertyWidth": null
}]]></Config>
</DataType>