<?xml version="1.0" encoding="utf-8"?>
<DataType Key="22c4a1a9-696d-4ecf-826e-5f088b96b402" Alias="Block List - Modules" Level="1">
  <Info>
    <Name>Block List - Modules</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Blocks": [
    {
      "backgroundColor": null,
      "iconColor": null,
      "thumbnail": null,
      "contentElementTypeKey": "ad3b579d-fc2c-48c5-b151-f4653ff18e14",
      "settingsElementTypeKey": "adeaf7d2-5375-4861-ae5c-42b21b11e8bd",
      "view": null,
      "stylesheet": null,
      "label": "Text Module - {{heading}}",
      "editorSize": "large",
      "forceHideContentEditorInOverlay": false
    },
    {
      "backgroundColor": null,
      "iconColor": null,
      "thumbnail": null,
      "contentElementTypeKey": "d7423913-be63-40b3-95d3-6d4b7451997d",
      "settingsElementTypeKey": null,
      "view": null,
      "stylesheet": null,
      "label": "Media Module - {{heading}}",
      "editorSize": "large",
      "forceHideContentEditorInOverlay": false
    }
  ],
  "ValidationLimit": {
    "min": null,
    "max": null
  },
  "UseLiveEditing": false,
  "UseInlineEditingAsDefault": false,
  "MaxPropertyWidth": null
}]]></Config>
</DataType>