<?xml version="1.0" encoding="utf-8"?>
<DataType Key="cd04301a-3147-42aa-910b-7e0a5dfed447" Alias="Checkbox - True" Level="1">
  <Info>
    <Name>Checkbox - True</Name>
    <EditorAlias>Umbraco.TrueFalse</EditorAlias>
    <DatabaseType>Integer</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Default": true,
  "ShowLabels": false,
  "LabelOn": null,
  "LabelOff": null
}]]></Config>
</DataType>