<?xml version="1.0" encoding="utf-8"?>
<DataType Key="5bc01d77-290a-413c-b4bf-3054e39bbcc7" Alias="Dropdown - Size" Level="1">
  <Info>
    <Name>Dropdown - Size</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Multiple": false,
  "Items": [
    {
      "id": 1,
      "value": "Small"
    },
    {
      "id": 2,
      "value": "Medium"
    },
    {
      "id": 3,
      "value": "Large"
    }
  ]
}]]></Config>
</DataType>