<?xml version="1.0" encoding="utf-8"?>
<DataType Key="b3c624ba-b73a-4858-9de7-f200971dce2f" Alias="Dropdown - Left Right" Level="1">
  <Info>
    <Name>Dropdown - Left Right</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Multiple": false,
  "Items": [
    {
      "id": 1,
      "value": "Left"
    },
    {
      "id": 2,
      "value": "Right"
    }
  ]
}]]></Config>
</DataType>