<?xml version="1.0" encoding="utf-8"?>
<DataType Key="a0beb6ef-bc74-483f-876c-e244e1431c8f" Alias="Dropdown - Text Align" Level="1">
  <Info>
    <Name>Dropdown - Text Align</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Multiple": false,
  "Items": [
    {
      "id": 1,
      "value": "Left"
    },
    {
      "id": 2,
      "value": "Centre"
    },
    {
      "id": 3,
      "value": "Right"
    }
  ]
}]]></Config>
</DataType>