<?xml version="1.0" encoding="utf-8"?>
<DataType Key="18b537cf-5532-47ef-adaf-504bdc45f436" Alias="Media Picker - Home Page Link" Level="1">
  <Info>
    <Name>Media Picker - Home Page Link</Name>
    <EditorAlias>Umbraco.MediaPicker3</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Filter": "umbracoMediaVectorGraphics,Image",
  "Multiple": false,
  "ValidationLimit": {
    "min": null,
    "max": null
  },
  "StartNodeId": null,
  "IgnoreUserStartNodes": false,
  "EnableLocalFocalPoint": false,
  "Crops": []
}]]></Config>
</DataType>