<?xml version="1.0" encoding="utf-8"?>
<DataType Key="e128b658-44d6-41d2-abf0-5b03ea99db29" Alias="Multi URL Picker - Nav Item" Level="1">
  <Info>
    <Name>Multi URL Picker - Nav Item</Name>
    <EditorAlias>Umbraco.MultiUrlPicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MinNumber": 1,
  "MaxNumber": 1,
  "OverlaySize": "small",
  "IgnoreUserStartNodes": false,
  "HideAnchor": true
}]]></Config>
</DataType>