<?xml version="1.0" encoding="utf-8"?>
<DataType Key="0c2386a1-eed4-4714-9b9e-7807a8ca5097" Alias="Multinode Treepicker - Featured Article" Level="1">
  <Info>
    <Name>Multinode Treepicker - Featured Article</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "TreeSource": {
    "type": "content",
    "query": "$current",
    "id": null
  },
  "Filter": "articlePage",
  "MinNumber": 0,
  "MaxNumber": 1,
  "ShowOpen": false,
  "IgnoreUserStartNodes": false
}]]></Config>
</DataType>