<?xml version="1.0" encoding="utf-8"?>
<DataType Key="fbd198ab-c269-4b55-889e-1ee09d2fea93" Alias="Nested Content for Nav Items" Level="1">
  <Info>
    <Name>Nested Content for Nav Items</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "ContentTypes": [
    {
      "ncAlias": "navigationItem",
      "ncTabAlias": "Item",
      "nameTemplate": "Nav  Item - {{ linkText }}"
    }
  ],
  "MinItems": null,
  "MaxItems": null,
  "ConfirmDeletes": true,
  "ShowIcons": true,
  "HideLabel": false
}]]></Config>
</DataType>