<?xml version="1.0" encoding="utf-8"?>
<DataType Key="6af4edb8-81ff-4856-8cd8-afc549978b66" Alias="Numeric 1 - 5" Level="1">
  <Info>
    <Name>Numeric 1 - 5</Name>
    <EditorAlias>Umbraco.Integer</EditorAlias>
    <DatabaseType>Integer</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "min": 1,
  "step": 1,
  "max": 5
}]]></Config>
</DataType>