<?xml version="1.0" encoding="utf-8"?>
<DataType Key="891b2bad-e64c-4b54-b4fa-ac74ecace15c" Alias="Radio Buttons - Image Crop" Level="1">
  <Info>
    <Name>Radio Buttons - Image Crop</Name>
    <EditorAlias>Umbraco.RadioButtonList</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Items": [
    {
      "id": 1,
      "value": "None"
    },
    {
      "id": 2,
      "value": "Cover"
    },
    {
      "id": 3,
      "value": "Contain"
    }
  ]
}]]></Config>
</DataType>