<?xml version="1.0" encoding="utf-8"?>
<DataType Key="3e0daeef-71cb-4e1d-b063-e9f1c856eeec" Alias="RTE - Text" Level="1">
  <Info>
    <Name>RTE - Text</Name>
    <EditorAlias>Umbraco.TinyMCE</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Editor": {
    "toolbar": [
      "ace",
      "styleselect",
      "bold",
      "italic",
      "bullist",
      "numlist",
      "link",
      "subscript",
      "superscript"
    ],
    "stylesheets": [],
    "maxImageSize": 500,
    "mode": "classic"
  },
  "OverlaySize": "small",
  "HideLabel": false,
  "IgnoreUserStartNodes": false,
  "MediaParentId": null
}]]></Config>
</DataType>