<!DOCTYPE html>

<html>
<head>
    @await Component.InvokeAsync("MetaData")
    @*<meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>*@
</head>
<body>
    @await Component.InvokeAsync("Banner")
    <main id="main">
        @RenderBody()
    </main>
</body>
</html>
