<?xml version="1.0" encoding="utf-8"?>
<Media Key="2a8541f5-09df-4f70-8f4e-9c26845c9251" Alias="20160223 195726" Level="2">
  <Info>
    <Parent Key="db5946a2-a77c-407e-ab24-af2f8b58d32f">Dev</Parent>
    <Path>/Dev/</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-07-18T13:57:49</CreateDate>
    <NodeName Default="20160223 195726" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/4najkkw5/20160223_195726.jpg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>