<?xml version="1.0" encoding="utf-8"?>
<Media Key="9268dca3-5344-427f-9c4c-40587d6bfddb" Alias="20160222 151920" Level="2">
  <Info>
    <Parent Key="db5946a2-a77c-407e-ab24-af2f8b58d32f">Dev</Parent>
    <Path>/Dev/</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-07-18T13:57:49</CreateDate>
    <NodeName Default="20160222 151920" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/uxogrese/20160222_151920.jpg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>