<?xml version="1.0" encoding="utf-8"?>
<Media Key="6b87db0c-f517-4a31-8afa-db95de6d77c8" Alias="20160221 144451" Level="2">
  <Info>
    <Parent Key="db5946a2-a77c-407e-ab24-af2f8b58d32f">Dev</Parent>
    <Path>/Dev/</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-07-18T13:58:35</CreateDate>
    <NodeName Default="20160221 144451" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/blnjo0yx/20160221_144451.jpg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>