<?xml version="1.0" encoding="utf-8"?>
<Media Key="db5946a2-a77c-407e-ab24-af2f8b58d32f" Alias="Dev" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Dev</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2022-07-18T13:57:44</CreateDate>
    <NodeName Default="Dev" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties />
</Media>