<?xml version="1.0" encoding="utf-8"?>
<Media Key="8ee6d348-8b34-47b5-8003-977a1d0c3347" Alias="Home Page" Level="2">
  <Info>
    <Parent Key="ade8422a-0afd-41b2-bc6c-75b875671ab9">Social Share Images</Parent>
    <Path>/SocialShareImages/HomePage</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-07-08T09:10:15</CreateDate>
    <NodeName Default="Home Page" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[{"focalPoint":{"left":0.4015895862146138,"top":0.5027089258952103},"src":"/media/j1jpndru/home_page.png"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>