<?xml version="1.0" encoding="utf-8"?>
<Media Key="5c41193a-bc39-425f-80a3-38ceb6ad4a91" Alias="Home Page" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-21]/HomePage</Path>
    <Trashed Parent="916724a5-173d-4619-b97e-b9de133dd6f5">true</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-07-08T09:09:49</CreateDate>
    <NodeName Default="Home Page" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/hqmfcxbz/home_page.png"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>