<?xml version="1.0" encoding="utf-8"?>
<Media Key="95a97864-d99b-4570-967a-13422b23173e" Alias="Name" Level="2">
  <Info>
    <Parent Key="6c1281e3-6467-48c2-8e49-f69c408cf528">Logos</Parent>
    <Path>/Logos/Name</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-07-09T12:21:06</CreateDate>
    <NodeName Default="Name" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/kv2ktfm1/name.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>