<?xml version="1.0" encoding="utf-8"?>
<Media Key="ade8422a-0afd-41b2-bc6c-75b875671ab9" Alias="Social Share Images" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/SocialShareImages</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2022-07-08T09:10:09</CreateDate>
    <NodeName Default="Social Share Images" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties />
</Media>