@model TextModule

<div class="text-@(Model.Settings.TextAlign)">
    @if (Model.HasHeading)
    {
        <h3>@Model.Heading</h3>
    }
    @if (!Model.BodyText.ToString().IsNullOrWhiteSpace())
    {
        <div>@Html.Raw(Model.BodyText)</div>
    }
</div>