@model TextModule
@{
	Layout = "/Views/Layouts/ModuleLayout.cshtml";
}

<div class="text-@(Model.Settings.TextAlign)">
    @await Html.PartialAsync("ViewHelpers/ModuleHeading", Model.Heading)

    @if (!Model.BodyText.ToString().IsNullOrWhiteSpace())
    {
        <div>@Html.Raw(Model.BodyText)</div>
    }
</div>