@model BasicSection

<section class="section@(Model.Settings.ReverseSection ? " section--reverse" : "")">
    @if (Model.HasHeading)
    {
        <h2>@Model.Heading</h2>
    }
    @await Html.PartialAsync("Modules/ModuleListing", Model.Modules)
</section>

