<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="8ca1e782-2eb2-4891-9ec2-d1ecc5cb2007" Alias="articlePage" Level="2">
  <Info>
    <Name>Article Page</Name>
    <Icon>icon-article color-indigo</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Page+Types</Folder>
    <Compositions>
      <Composition Key="8611964d-0ee0-4527-a990-ff79d52738ec">bannerStandard</Composition>
      <Composition Key="a0025f07-4477-4129-bb1c-cb3fc376af05">compositionArticle</Composition>
      <Composition Key="2a66f9ec-7a76-4edc-82f1-0da7b5b56c26">compositionCard</Composition>
      <Composition Key="d912266b-e691-4540-a6e1-3c98dd476563">compositionModular</Composition>
      <Composition Key="e803598a-2107-4b35-a315-c0e95e799000">compositionSEO</Composition>
    </Compositions>
    <DefaultTemplate>ArticlePage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="af43a229-f082-4e8e-8051-4a0c165c087c">ArticlePage</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>