<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="43da5c46-ad01-4526-8c36-3d63def11716" Alias="articleListingPage" Level="2">
  <Info>
    <Name>Article Listing Page</Name>
    <Icon>icon-newspaper color-indigo</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>True</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Page+Types</Folder>
    <Compositions>
      <Composition Key="8611964d-0ee0-4527-a990-ff79d52738ec">bannerStandard</Composition>
      <Composition Key="d912266b-e691-4540-a6e1-3c98dd476563">compositionModular</Composition>
      <Composition Key="e803598a-2107-4b35-a315-c0e95e799000">compositionSEO</Composition>
    </Compositions>
    <DefaultTemplate>ArticleListingPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="b90ab4b7-ab55-49f3-96d3-ed61cd82aded">ArticleListingPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="8ca1e782-2eb2-4891-9ec2-d1ecc5cb2007" SortOrder="0">articlePage</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>b6e4355b-4d8d-4544-acee-5afccb601432</Key>
      <Name>Articles Per Page</Name>
      <Alias>articlesPerPage</Alias>
      <Definition>2e6d3631-066e-44b8-aec4-96f09099b2b5</Definition>
      <Type>Umbraco.Integer</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="settings">Settings</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>185b673e-dc78-4ed3-9e48-bb096067bcf2</Key>
      <Caption>Settings</Caption>
      <Alias>settings</Alias>
      <Type>Tab</Type>
      <SortOrder>1001</SortOrder>
    </Tab>
  </Tabs>
</ContentType>