<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="8611964d-0ee0-4527-a990-ff79d52738ec" Alias="bannerStandard" Level="2">
  <Info>
    <Name>Banner - Standard</Name>
    <Icon>icon-document color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Banner+Types</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>3d5b11dc-2122-48fb-a998-ba4c676080e4</Key>
      <Name>Page Heading Line 1</Name>
      <Alias>bannerHeadingLine1</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[The first line of the banner heading. Falls back to the page node name if not specified]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="page/banner">Banner</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>9708b3d7-a459-4fe8-be62-b668192b442d</Key>
      <Name>Page Heading Line 2</Name>
      <Alias>bannerHeadingLine2</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="page/banner">Banner</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>82b4ff51-bdd2-43ff-b8e5-92bada8861be</Key>
      <Name>Page Heading Hidden Separator</Name>
      <Alias>bannerHeadingSeparator</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Use for either punctuation or hidden text to make the heading more understandable for assistive technology users.]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="page/banner">Banner</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>d5848377-8cc0-4aa1-a278-0369367ea25c</Key>
      <Caption>Page</Caption>
      <Alias>page</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Key>c6923776-c624-4395-b6c8-f534101bb909</Key>
      <Caption>Banner</Caption>
      <Alias>page/banner</Alias>
      <Type>Group</Type>
      <SortOrder>1</SortOrder>
    </Tab>
  </Tabs>
</ContentType>