<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="82994cf8-50ce-4d8e-acd9-3975d26bcaf1" Alias="galleryModule" Level="2">
  <Info>
    <Name>Gallery Module</Name>
    <Icon>icon-photo-album color-orange</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Module+Types</Folder>
    <Compositions>
      <Composition Key="d5f0081f-69f0-4684-9968-ee7e66a2d6e6">compositionModuleHeading</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>2784d5d4-d374-4904-86f9-86eee4335fe9</Key>
      <Name>Body Text</Name>
      <Alias>bodyText</Alias>
      <Definition>3e0daeef-71cb-4e1d-b063-e9f1c856eeec</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>bc2f2e2d-1f7c-4e89-b422-e759bca18890</Key>
      <Name>Images</Name>
      <Alias>images</Alias>
      <Definition>b7d9eb34-ac4a-42d2-b711-cb8f88c6e711</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage>Please select images for the gallery</MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>30bc38ff-c1a6-488e-b88e-2bc99f0810b9</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>