<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="e6072a83-9685-4f76-9b8d-8675a1ca33f1" Alias="modularPage" Level="2">
  <Info>
    <Name>Modular Page</Name>
    <Icon>icon-list color-deep-orange</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Page+Types</Folder>
    <Compositions>
      <Composition Key="8611964d-0ee0-4527-a990-ff79d52738ec">bannerStandard</Composition>
      <Composition Key="d912266b-e691-4540-a6e1-3c98dd476563">compositionModular</Composition>
      <Composition Key="e803598a-2107-4b35-a315-c0e95e799000">compositionSEO</Composition>
    </Compositions>
    <DefaultTemplate>ModularPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="dceec3a4-0dc2-48ea-98bf-51a1673a612e">ModularPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>