<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="3c3b9d69-92bf-4fdd-9243-357efccb84e5" Alias="moduleBlockGalleryItemSettings" Level="4">
  <Info>
    <Name>Module Block - Gallery Item - Settings</Name>
    <Icon>icon-settings-alt color-green</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Module+Types/Module+Blocks/Settings</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>732c9a9b-a443-4247-8ce7-45650def0561</Key>
      <Name>Display Caption With Thumbnail</Name>
      <Alias>displayCaptionWithThumbnail</Alias>
      <Definition>a78ea703-8902-440f-8cf5-c9512eb52509</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[If selected the images caption will be shown with the images thumbnail]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="settings">Settings</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>605c670e-c224-4541-9b80-5bfcfbfa644d</Key>
      <Caption>Settings</Caption>
      <Alias>settings</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>