<?xml version="1.0" encoding="utf-8"?>
<Content Key="f99318fb-8f60-4d19-9f6d-b89f74955878" Alias="Blog" Level="2">
  <Info>
    <Parent Key="1c3e17d5-9879-4c70-a039-988d831aead0">Home</Parent>
    <Path>/Home/Blog</Path>
    <Trashed>false</Trashed>
    <ContentType>blogListingPage</ContentType>
    <CreateDate>2022-07-18T21:25:23</CreateDate>
    <NodeName Default="Blog" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="b90ab4b7-ab55-49f3-96d3-ed61cd82aded">BlogListingPage</Template>
  </Info>
  <Properties>
    <bannerHeadingLine1>
      <Value><![CDATA[]]></Value>
    </bannerHeadingLine1>
    <BannerHeadingLine2>
      <Value><![CDATA[]]></Value>
    </BannerHeadingLine2>
    <bannerHeadingSeparator>
      <Value><![CDATA[]]></Value>
    </bannerHeadingSeparator>
    <sections>
      <Value><![CDATA[]]></Value>
    </sections>
    <seoDescription>
      <Value><![CDATA[]]></Value>
    </seoDescription>
    <seoTitle>
      <Value><![CDATA[]]></Value>
    </seoTitle>
    <socialShareImage>
      <Value><![CDATA[[]]]></Value>
    </socialShareImage>
  </Properties>
</Content>