<?xml version="1.0" encoding="utf-8"?>
<Content Key="1c3e17d5-9879-4c70-a039-988d831aead0" Alias="Home" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Home</Path>
    <Trashed>false</Trashed>
    <ContentType>homePage</ContentType>
    <CreateDate>2022-06-25T16:28:00</CreateDate>
    <NodeName Default="Home" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="c2e658a2-16e3-42b7-ba31-cb7495acc93f">HomePage</Template>
  </Info>
  <Properties>
    <pageHeading>
      <Value><![CDATA[Tom Checkley]]></Value>
    </pageHeading>
  </Properties>
</Content>