<?xml version="1.0" encoding="utf-8"?>
<Content Key="a5476f4a-3e32-4590-b9b4-a81d737cdadc" Alias="Site Settings" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/SiteSettings</Path>
    <Trashed>false</Trashed>
    <ContentType>siteSettings</ContentType>
    <CreateDate>2022-07-07T07:00:44</CreateDate>
    <NodeName Default="Site Settings" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <homePageLinkLogo>
      <Value><![CDATA[[
  {
    "key": "e67ccfd0-d4f0-4832-8249-9ce0a4681792",
    "mediaKey": "95a97864-d99b-4570-967a-13422b23173e"
  }
]]]></Value>
    </homePageLinkLogo>
    <mainNavNavigationItems>
      <Value><![CDATA[[{"key":"c56fda9b-75cd-40aa-aba6-8f6826268d0d","name":"Nav  Item - Home","ncContentTypeAlias":"navigationItem","PropType":null,"linkText":"","link":"umb://document/1c3e17d598794c70a039988d831aead0"},{"key":"cff46a57-d61d-4cbd-83cc-81614c360fda","name":"Nav  Item - Modular page test","ncContentTypeAlias":"navigationItem","PropType":null,"linkText":"Modular page test","link":"umb://document/450c5c80fa334948ad9f5b871f8ed5d1"}]]]></Value>
    </mainNavNavigationItems>
    <socialShareImage>
      <Value><![CDATA[[
  {
    "key": "f56291ef-e283-448f-bad4-f82969c32bb3",
    "mediaKey": "8ee6d348-8b34-47b5-8003-977a1d0c3347"
  }
]]]></Value>
    </socialShareImage>
    <websiteDescription>
      <Value><![CDATA[I'm a Bristol based web developer. I specialise in semantic, accessible HTML, Sass / CSS, Javascript, Angular, Umbraco, C#, .Net Framework and .Net Core.]]></Value>
    </websiteDescription>
    <websiteName>
      <Value><![CDATA[Tom Checkley]]></Value>
    </websiteName>
  </Properties>
</Content>