<?xml version="1.0" encoding="utf-8"?>
<Content Key="a5476f4a-3e32-4590-b9b4-a81d737cdadc" Alias="Site Settings" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/SiteSettings</Path>
    <Trashed>false</Trashed>
    <ContentType>siteSettings</ContentType>
    <CreateDate>2022-07-07T07:00:44</CreateDate>
    <NodeName Default="Site Settings" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <websiteDescription>
      <Value><![CDATA[I'm a Bristol based web developer. I specialise in semantic, accessible HTML, Sass / CSS, Javascript, Angular, Umbraco, C#, .Net Framework and .Net Core.]]></Value>
    </websiteDescription>
    <websiteName>
      <Value><![CDATA[Tom Checkley]]></Value>
    </websiteName>
  </Properties>
</Content>